/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00; /* Hover color */
}

/* Dropdown menu styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333; /* Dark background color */
  padding: 10px;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #ffcc00; /* Hover color */
}
